.child1{
    
    margin-top: 3%;
    text-align: center;
    margin-top: 30;
}

.child2{
    margin-top: 30;
    align-self: center;
    
}

.colorStyling{
    background-color: green;
    margin-left: 13%;
}